# MODE = ["CRISPRi", "CRISPRa"]
MODE="CRISPRi"

#SUBMODE = ["single", "paired"]
SUBMODE="paired"

# INFILE = BED file with target TSS possitions
INFILE="/home/carlos/lincRNA_CRISPRi/TSSs/negative_control_TSS.bed"

# FANTOM = BED file with FANTOM peaks
FANTOM="/home/carlos/remoteDir/data/projects/p283_rna_and_disease/DATA.FILES/Fantom5/hg19.cage_peak_phase1and2combined_coord.bed"

# RANGE = +/- dist (nt) from INFILE position to look for FANTOM peaks
RANGE=10

# FASTA = fasta file with genome
FASTA="/home/carlos/remoteDir/data/projects/p283_rna_and_disease/DATA.FILES/Genomes/hg19/hg19.fa"

# Number of TOP sgRNAs returned as results
n_gRNAs=6

# Check mandatory arguments
if [ -z $INFILE ]; then
	echo "input, genome and FANTOM files must be specified in config file"; exit 1;
fi
if [ -z $FANTOM ]; then
	echo "input, genome and FANTOM files must be specified in config file"; exit 1;
fi
if [ -z $FASTA ]; then
	echo "input, genome and FANTOM files must be specified in config file"; exit 1;
fi

